# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/

# IDE specific files
.idea/
.vscode/

# Compiled Python files
*.pyc
*.pyo
*.pyd

# Logs
*.log

# Local settings
*.env

# Miscellaneous
.DS_Store
Thumbs.db
